<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uminho.uce15.cityroots" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--android:debuggable="false"-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- chave marco -->
        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA1zGN0pbdggubT0-S1oKtkkz8u8_KnqLY" />
        -->
        <!-- chave fabio (?) -->
        <!--
           <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDooBm6zcQfeIC1X7dgphhfc0kw5YqlAiE" />
        -->
        <!-- chave lucas -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDooBm6zcQfeIC1X7dgphhfc0kw5YqlAiE"/>


        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <activity
            android:name="com.facebook.LoginActivity">
        </activity>

        <activity
            android:name="com.uminho.uce15.cityroots.RootActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.Home"
            android:label="@string/title_activity_home">
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.NearbyPlaces"
            android:label="@string/title_activity_nearby_places" >
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.Category"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.ListarEventos"
            android:label="@string/title_activity_listar_eventos" >
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.DetalhesEventos"
            android:label="@string/title_activity_detalhes_eventos" >
        </activity>
        <activity
            android:name="com.uminho.uce15.cityroots.SimpleMapAct"
            android:label="@string/title_activity_simple_map" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Use Google Plus Sign In-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>
